.main-body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: antiquewhite;
}

.main-panel {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 70%;
  height: 40vh;

  border-radius: 10px;

  background-color: aqua; 
}

.duration-text {
  margin: 0;
  
  font-size: 20;

  text-align: center;
}